@import "../../sass/variables.scss";

.sidebar {
  top: 0;
  z-index: 50;
  width: 100%;
  left: -360px;
  height: 100vh;
  max-width: 360px;
  padding: 10px 30px;
  position: absolute;
  box-sizing: border-box;
  transition: $transition;
  background-color: $purple;

  &.sidebar-open {
    left: 0;
  }

  @media all and (min-width: $tablet) {
    left: 0;
    padding: 30px;
    flex: 0 0 360px;
    position: relative;
  }
}

.sidebarTitle {
  width: 100%;
  display: block;
  text-align: center;
  text-decoration: none;

  h1 {
    color: $white;
    font-size: 18px;
    font-weight: 400;
    display: none;

    @media all and (min-width: $tablet) {
      display: block;
      font-size: 24px;
    }
  }
}

.sidebarMenu {
  padding: 0;
  display: block;
  margin: 30px -30px;

  li {
    margin: 0;
    padding: 0;
    display: block;

    a {
      color: $white;
      display: block;
      font-size: 16px;
      padding: 10px 20px;
      position: relative;
      text-decoration: none;

      @media all and (min-width: $tablet) {
        font-size: 18px;
        padding: 20px 30px;
        transition: $transition;

        &:hover {
          background-color: rgba($white, 0.3);
        }
      }
    }
  }

  &:first-of-type {
    margin: 70px -30px 0 -30px;
  }
}
