@import "../../sass/variables.scss";

.createSchedule {
  padding: 30px;
  box-sizing: border-box;

  @media all and (min-width: $tablet) {
    padding: 30px 80px;
  }
}

.createScheduleForm {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.scheduleFormLabel {
  flex: 0 0 100%;
  display: flex;
  flex-wrap: wrap;
  margin: 0 0 30px 0;
  align-items: center;
  justify-content: space-between;

  span {
    display: block;
    flex: 0 0 100%;
    margin: 0 0 15px 0;
    font-size: 18px;
  }

  @media all and (min-width: $tablet) {
    span {
      font-size: 24px;
    }
  }
}

.scheduleSlotRow {
  flex: 0 0 100%;
  display: flex;
  flex-wrap: wrap;
  margin: 0 0 20px 0;
  align-items: center;
  justify-content: space-between;

  &:last-of-type {
    margin: 0;
  }

  .selectContainer {
    width: 100%;
    display: block;
    position: relative;

    &:after {
      top: 24px;
      right: 17px;
      content: "";
      width: 10px;
      height: 10px;
      position: absolute;
      pointer-events: none;
      border-left: 2px solid $black;
      border-bottom: 2px solid $black;
      transform: rotate(-45deg) translateY(-50%);
    }
  }

  input,
  select {
    border: 0;
    width: 100%;
    outline: none;
    padding: 20px;
    font-size: 16px;
    appearance: none;
    border-radius: 3px;
    display: inline-flex;
    box-sizing: border-box;
    flex: 0 0 100%;
    margin-bottom: 10px;
    background-color: $white;

    &::placeholder {
      color: rgba($black, 0.5);
    }
  }

  @media all and (min-width: $tablet) {
    input,
    select {
      margin-bottom: 0;
      flex: 0 0 calc(50% - 30px);
    }

    .selectContainer {
      width: calc(50% - 30px);
      flex: 0 0 calc(50% - 30px);
    }
  }
}

.deleteScheduleSlotRow {
  height: 30px;
  flex: 0 0 30px;
  cursor: pointer;
  position: relative;

  &:before {
    top: 50%;
    left: 50%;
    width: 30px;
    height: 5px;
    content: "";
    position: absolute;
    pointer-events: none;
    background-color: $red;
    transform: translate(-50%, -50%) rotate(-45deg);
  }

  &:after {
    top: 50%;
    left: 50%;
    width: 30px;
    height: 5px;
    content: "";
    position: absolute;
    pointer-events: none;
    background-color: $red;
    transform: translate(-50%, -50%) rotate(45deg);
  }
}

.formOptions {
  margin: 0;
  width: 100%;
  display: flex;
  flex-wrap: wrap;

  p {
    width: 100%;
    color: $white;
    cursor: pointer;
    font-size: 18px;
    padding: 15px 30px;
    border-radius: 3px;
    background-color: $green;
    box-sizing: border-box;
    flex: 0 0 100%;
    margin: 0 10px 10px 0;

    &:nth-of-type(1) {
      background-color: $purple;
    }

    &:nth-of-type(2) {
      background-color: $green;
    }

    &:nth-of-type(3) {
      background-color: $pink;
    }
  }

  @media all and (min-width: $mobile) {
    p {
      width: auto;
      flex: 0 0 auto;
      display: inline-flex;
    }
  }

  @media all and (min-width: $tablet) {
    p {
      transition: $transition;

      &:hover {
        &:nth-of-type(1) {
          background-color: lighten($purple, 5%);
        }

        &:nth-of-type(2) {
          background-color: lighten($green, 5%);
        }

        &:nth-of-type(3) {
          background-color: lighten($pink, 5%);
        }
      }
    }
  }
}
